<%= form_for @student do |f| %>

<p>
<%= f.label :firstname %>
<%= f.text_field :firstname %>
</p>


<p>
<%= f.label :lastname %>
<%= f.text_field :lastname %>
</p>


<p>
<%= f.label :gender %>
<%= f.radio_button :gender, 'Male', :checked => true %>Male
<%= f.radio_button :gender, 'Female', :checked => true %>Female
</p>


<p>
<%= f.label :address %> <br/>

</p>

<p>
<%= f.label :country %>

</p>

<%= f.submit "Submit Here" %>
<% end %>
<hr> <hr>